@font-face {
	font-family:"Minion Pro";
	font-style:normal;
	font-weight:normal;
	src : url("../../font/MinionPro-Regular.otf");
}
@font-face {
	font-family:OCRB;
	font-style:normal;
	font-weight:normal;
	font-stretch:extra-expanded;
	src : url("../../font/OCRB.ttf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div > svg {
	position:absolute;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#ffffff;
	font-family:OCRB, sans-serif;
	font-size:36px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#ffffff;
	font-family:OCRB, sans-serif;
	font-size:18px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	-ms-transform:translate(232.800px,109.199px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(232.800px,109.199px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:627.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(232.800px,109.199px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(232.800px,109.199px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:326.40px;
}
#_idContainer001 {
	-ms-transform:translate(50.000px,47.919px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(50.000px,47.919px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAX0AAAB1CAYAAACiXTGIAAAACXBIWXMAABcRAAAXEQHKJvM/AAABzElEQVR4Xu3YMRFDMQwFQTsTJunCn0AofEIKBPe+3frVNxrtmVkANLxOAwDusZ/P16kPEOHSBwgRfYAQ0QcIEX2AENEHCBF9gBDRBwgRfYAQ0QcIEX2AENEHCBF9gBDRBwgRfYAQ0QcIEX2AENEHCBF9gBDRBwgRfYAQ0QcIEX2AENEHCBF9gBDRBwgRfYAQ0QcIEX2AENEHCBF9gBDRBwgRfYAQ0QcIEX2AENEHCBF9gBDRBwgRfYAQ0QcIEX2AENEHCBF9gBDRBwgRfYAQ0QcIEX2AENEHCBF9gBDRBwgRfYAQ0QcIEX2AENEHCBF9gBDRBwgRfYAQ0QcIEX2AENEHCBF9gBDRBwgRfYAQ0QcIEX2AENEHCBF9gBDRBwgRfYAQ0QcIEX2AENEHCBF9gBDRBwgRfYAQ0QcIEX2AENEHCBF9gBDRBwgRfYAQ0QcIEX2AENEHCBF9gBDRBwgRfYAQ0QcIEX2AENEHCBF9gBDRBwgRfYAQ0QcIEX2AENEHCBF9gBDRBwgRfYAQ0QcIEX2AENEHCBF9gBDRBwgRfYAQ0QcIEX2AENEHCBF9gBDRBwgRfYAQ0QcIea+1fqcRAHfYM3PaAHAJ7x2AkD+2zAnDhGJmKgAAAABJRU5ErkJggg==);
	background-repeat:no-repeat;
	background-size:cover;
	height:56.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(50.000px,47.919px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(50.000px,47.919px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:182.80px;
}
#_idContainer002 {
	-ms-transform:translate(36.500px,35.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.500px,35.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:720.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.500px,35.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(36.500px,35.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:539.50px;
}
#_idContainer003 {
	-ms-transform:translate(223.200px,109.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(223.200px,109.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:627.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(223.200px,109.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(223.200px,109.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:10.00px;
}
#_idContainer004 {
	-ms-transform:translate(233.400px,259.399px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(233.400px,259.399px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAl4AAABpCAYAAADrwS26AAAACXBIWXMAABcRAAAXEQHKJvM/AAACCklEQVR4Xu3YsRECMRAEQYn6xImI1MjgPgQZPGN12xvA1O6ZWQAA/N/rNAAA4BnX/nxdXgAAAY8XAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARIQXAEBEeAEARK611vs0AgDgd3tmThsAAB5wA0yBCe9s/pPmAAAAAElFTkSuQmCC);
	background-repeat:no-repeat;
	background-size:cover;
	height:50.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(233.400px,259.399px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(233.400px,259.399px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:291.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
